/* ------------- IDs -------------- */
#textArea {
	border: 1px solid red;
	width: 80%;
	height: 20%;
	transition: box-shadow 0.3s, border 0.3s;
	display: block;
}

#input {
	border: 1px solid black;
	width: 80%;
	height: 20%;
	display: block;
}

#createButton {

}

/* ------------- CLASSES --------------- */
.w3-card {
	height: 100px;
	width: 30%;
	border: 1px solid lightgrey;
	word-wrap: break-word;
}